body{
    background-color: aquamarine;
}

h1{
    font-size: 70px;
    color: rgb(236, 83, 22)
}

.heading{
    width : 100%;
    text-align: center;
}

.btn{
    border: solid 5px;
    border-color: black;
    background: red;
    width: 10rem;
    height: 10rem;   
    border-radius: 30%;
    margin:20px;
    font-size: 60px;
    color: aliceblue;
}

.w{
    background-color: green;
}

.a{
    background-color: red;
}

.s{
    background-color: yellow;
}

.d{
    background-color: blue;
}


.container{
    margin-top: 40px;
    text-align: center;
}

.firstrow{
    margin: 0 30% 0 30%;
}

.secondrow{
    margin: 0 30% 0 30%;
}

.pressed{
    opacity: 0.5;
}



.cpy-underline{
    text-decoration: underline;
}

.copyright{
    margin-top : 100px;
    padding: 0 45% 0 43%;
}